h1{
  background-color: LightPink;
  color: Black;
  font-family: Brush Script MT, cursive;
  font-size: 400%;
  text-align: center;
}

background{
  background-color: MistyRose;
}
  

ul{
  color: Black;
  text-align: left;
  font-size: 100%;
  width: 435px;
  border: 3px White;
  border-radius: 10px;
  padding: 20px;
  background-color: MistyRose;
  list-style-position: inside;
  float: right;
  margin-right: 20x;
  position: relative;
  right: 20px;
  margin-left: 110px;
}

  .images{
    border-radius: 12px;
    margin-left: 30px;
    margin-bottom: 170px;
    margin-top: 30px;
  }

   .paragraph{
      color: Black;
      text-align: left;
      font-size: 100%;
      width: 430px;
      border: 3px White;
      border-radius: 10px;
      padding: 20px;
      background-color: MistyRose;
      list-style-position: inside;
      float: left;
      position: relative;
      left: 20px;
      margin-left: 20px;
      margin-right: 110px;
}

    
button {
  color: Black;
  background-color: White;
  text-align: center;
  font-size: 12px;
  border-color: LightPink;
  border-radius: 5px;
  margin-left: 10;

}
