h1{
  background-color: LightPink;
  color: Black;
  font-family: Brush Script MT, cursive;
  font-size: 400%;
  text-align: center;
}

h2{
  color: Black;
  font-family: Trebuchet MS, sans-serif;
  font-size:250%;
  text-align: left;
  margin-top: 10px;
  background-image: url('https://assets.bonappetit.com/photos/5cfa7e1fdf8e95e1e62ca6a3/16:9/w_2240,c_limit/Basically-Strawberry-Shortcake-Strawberries.jpg');
}

background{
  background-color: MistyRose;
}
  
p{
  color: Black;
  text-align: left;
  font-size: 100%;
  width: 350px;
  border: 3px White;
  border-radius: 10px;
  padding: 15px;
  background-color: MistyRose;
  list-style-position: inside;
  float: left;
  position: relative;
  right: 120px;
  margin-left: 20px;

}

ul{
  color: Black;
  text-align: left;
  font-size: 100%;
  width: 400px;
  border: 3px White;
  border-radius: 10px;
  padding: 15px;
  background-color: MistyRose;
  list-style-position: inside;
  float: right;
  margin-right: 15x;
  position: relative;
  right: 15px;
  margin-left: 115px;
}

  .images{
    border-radius: 9px;
    margin-left: 20px;
    margin-bottom: 170px;
    margin-top: 30px;

   .paragraph{ 
      color: Black;
      text-align: left;
      font-size: 100%;
      width: 400px;
      border: 3px White;
      border-radius: 10px;
      padding: 15px;
      background-color: MistyRose;
      list-style-position: inside;
      float: left;
      position: relative;
      left: 20px;
      margin-left: 20px;
}
    .paragraph1{
      color: Black;
      text-align: left;
      font-size: 100%;
      width: 400px;
      border: 3px White;
      border-radius: 10px;
      padding: 15px;
      background-color: MistyRose;
      list-style-position: inside;
      float: left;
      position: relative;
      left: 20px;
      margin-left: 20px;
    }

    
button {
  color: Black;
  background-color: LightPink;
  text-align: center;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  margin-left: 20;

}
